### Data Engineering

In [1]:
# Add all the imports
import pandas as pd
import numpy as np

In [2]:
def map_idx(unique_attribute_vals: list):

    # Initialize the variables
    value_to_idx = {}
    idx_to_value = {}
    unique_int = 1

    # Loop through to map the values
    for value in unique_attribute_vals:
        value_to_idx[value] = unique_int
        idx_to_value[unique_int] = value
        unique_int = unique_int + 1

    # Return the two dictionaries
    return (value_to_idx, idx_to_value)

In [3]:
data_path = "input_data/NY-House-Dataset.csv"
all_data = pd.read_csv(data_path).dropna().reset_index()

In [4]:
# row 1: min, row 2: median, row 3: mean, row 4: max, row 5: standard deviation
stat_cols = ["PRICE", "BEDS", "BATH", "PROPERTYSQFT"]
stat_rows = ["Min", "Median", "Mean", "Max", "Std."]
stats_df = pd.DataFrame(np.arange(20).reshape(5, 4), index=stat_rows, columns=stat_cols)

# Loop over colums and get fill the stats
for col in stat_cols:

    # Get the column and column data
    col_data = all_data[col].to_numpy()

    # Get all stats
    stats_dict = {}
    stats_dict["Min"], stats_dict["Max"] = col_data.min(), col_data.max()
    stats_dict["Median"], stats_dict["Mean"], stats_dict["Std."] = round(np.median(col_data), 2), round(np.average(col_data), 2),  round(np.std(col_data), 2)

    # Add the data
    for row in stat_rows:
        stats_df.loc[row, col] = stats_dict[row]

stats_df

               PRICE   BEDS   BATH  PROPERTYSQFT
Min     2.494000e+03   1.00   0.00        230.00
Median  8.250000e+05   3.00   2.00       2184.21
Mean    2.356940e+06   3.36   2.37       2184.21
Max     2.147484e+09  50.00  50.00      65535.00
Std.    3.135198e+07   2.60   1.95       2376.89

In [5]:
all_data = all_data.loc[all_data["PRICE"].between(10000, 1000000000), :]

In [6]:
locality = np.unique(all_data["ADMINISTRATIVE_AREA_LEVEL_2"].to_numpy())
print(locality)
print(len(locality))

['10002' '10003' '10017' '10301' '10303' '10304' '10306' '10309' '10310'
 '10312' '10463' '10465' '10466' '10471' '11214' '11218' '11229' '11234'
 '11237' '11412' '11414' '11417' 'Bronx County' 'Brooklyn' 'Kings County'
 'New York' 'New York County' 'Queens County' 'United States']
29

In [7]:
locality = np.unique(all_data["LOCALITY"].to_numpy())
print(locality)
print(len(locality))

['Bronx County' 'Brooklyn' 'Flatbush' 'Kings County' 'New York'
 'New York County' 'Queens' 'Queens County' 'Richmond County' 'The Bronx'
 'United States']
11

In [8]:
sub_locality = np.unique(all_data["SUBLOCALITY"].to_numpy())
print(sub_locality)
print(len(sub_locality))

['Bronx County' 'Brooklyn' 'Brooklyn Heights' 'Coney Island' 'Dumbo'
 'East Bronx' 'Flushing' 'Fort Hamilton' 'Jackson Heights' 'Kings County'
 'Manhattan' 'New York' 'New York County' 'Queens' 'Queens County'
 'Rego Park' 'Richmond County' 'Riverdale' 'Snyder Avenue' 'Staten Island'
 'The Bronx']
21

In [9]:
type_data = np.unique(all_data["TYPE"].to_numpy())
print(type_data)
print(len(type_data))

['Co-op for sale' 'Coming Soon' 'Condo for sale' 'Condop for sale'
 'Contingent' 'For sale' 'Foreclosure' 'House for sale' 'Land for sale'
 'Mobile house for sale' 'Multi-family home for sale' 'Pending'
 'Townhouse for sale']
13

In [10]:
long_name = np.unique(all_data["STREET_NAME"].to_numpy())
print(long_name)
print(len(long_name))

['139th Street' '2501' '35th Avenue' '3G' '5th Avenue' '61st Street'
 '67th Drive' '98th Place' 'Allerton' 'Annadale' 'Arverne' 'Astoria'
 'Auburndale' 'Bath Beach' 'Bay Ridge' 'Bay Terrace' 'Bayside'
 'Bedford-Stuyvesant' 'Beechhurst' 'Bensonhurst' 'Bergen Beach'
 'Boerum Hill' 'Borough Park' 'Brighton Beach' 'Bronx County' 'Brooklyn'
 'Brooklyn Heights' 'Brownsville' 'Bulls Head' 'Bushwick' 'Canarsie'
 'Carroll Gardens' 'Castleton Corners' 'Central Park West' 'Centre Street'
 'City Island' 'Clason Point' 'Clifton' 'Clinton Hill' 'Cobble Hill'
 'College Point' 'Columbia Street Waterfront District' 'Concourse'
 'Concourse Village' 'Coney Island' 'Corona' 'Crown Heights'
 'Cypress Hills' 'Dongan Hills' 'Douglaston' 'Downtown Brooklyn' 'Dumbo'
 'Dyker Heights' 'East 10th Street' 'East 110th Street' 'East 22nd Street'
 'East 55th Street' 'East 74th Street' 'East 88th Street'
 'East 96th Street' 'East Bronx' 'East Elmhurst' 'East End Avenue'
 'East Flatbush' 'East New York' 'Elmhurst' 'Far Rockaway' 'Fieldston'
 'Flatbush' 'Flatlands' 'Floral Park' 'Flushing' 'Fordham Manor'
 'Forest Hills' 'Fort Greene' 'Fort Hamilton' 'Foxhurst' 'Fresh Meadows'
 'Gerritsen Beach' 'Glen Oaks' 'Gowanus' 'Gravesend' 'Great Kills'
 'Greenpoint' 'Henry Hudson Parkway' 'Highbridge' 'Homecrest'
 'Howard Beach' 'Hudson Hill' 'Jackson Heights' 'Jamaica' 'John Street'
 'Kensington' 'Kew Gardens' 'Kings County' 'Kingsbridge'
 'Little Caribbean' 'Little Haiti' 'Little Neck' 'Long Island City'
 'Madison' 'Manhattan' 'Manhattan Beach' 'Mapleton' 'Mariners Harbor'
 'Maspeth' 'Melrose' 'Mid Island' 'Middle Village' 'Midland Beach'
 'Midwood' 'Mill Basin' 'Morrisania' 'Morrison Avenue' 'Mount Eden'
 'New Dorp' 'New Springville' 'New York' 'New York County'
 'North Riverdale' 'Norwood' 'Oakwood' 'Ocean Hill' 'Old Fulton Street'
 'Oxford Avenue' 'Ozone Park' 'PECK SLIP' 'Park Avenue' 'Park Slope'
 'Parkchester' 'Pelham Bay' 'Prospect Heights' 'Prospect Lefferts Gardens'
 'Queens' 'Queens County' 'Queens Village' 'Rector Place' 'Red Hook'
 'Rego Park' 'Richmond County' 'Richmond Hill' 'Ridgewood' 'Riverdale'
 'Rockaway Park' 'Rosebank' 'Rosedale' 'Saunders Street' 'Seagate'
 'Sheepshead Bay' 'Shore Acres' 'Shore Road' 'Southside' 'Spuyten Duyvil'
 'Staten Island' 'Sunnyside' 'Sunset Park' 'Surf Avenue' 'The Bronx'
 'Todt Hill' 'Vinegar Hill' 'West 111th Street' 'West 13th Street'
 'West 56th Street' 'West 64th Street' 'West 65th Street' 'West Brighton'
 'West Bronx' 'Westchester Square' 'Whitestone' 'Williamsburg'
 'Windsor Terrace' 'Woodhaven' 'Woodside' 'Woodstock']
174

In [11]:
state_data = np.unique(all_data["STATE"].to_numpy())
print(state_data)
print(len(state_data))

['Arverne, NY 11692' 'Astoria, NY 11101' 'Astoria, NY 11102'
 'Astoria, NY 11103' 'Astoria, NY 11105' 'Astoria, NY 11106'
 'Bayside, NY 11360' 'Bayside, NY 11361' 'Bayside, NY 11364'
 'Bedford Stuyvesant, NY 11206' 'Bedford Stuyvesant, NY 11216'
 'Bedford Stuyvesant, NY 11221' 'Bedford Stuyvesant, NY 11233'
 'Beechhurst, NY 11357' 'Belle Harbor, NY 11694' 'Bellerose, NY 11426'
 'Briarwood, NY 11435' 'Brighton Beach, NY 11235' 'Bronx Ny, NY 10458'
 'Bronx, NY 10451' 'Bronx, NY 10452' 'Bronx, NY 10453' 'Bronx, NY 10454'
 'Bronx, NY 10455' 'Bronx, NY 10456' 'Bronx, NY 10457' 'Bronx, NY 10458'
 'Bronx, NY 10459' 'Bronx, NY 10460' 'Bronx, NY 10461' 'Bronx, NY 10462'
 'Bronx, NY 10463' 'Bronx, NY 10464' 'Bronx, NY 10465' 'Bronx, NY 10466'
 'Bronx, NY 10467' 'Bronx, NY 10468' 'Bronx, NY 10469' 'Bronx, NY 10470'
 'Bronx, NY 10471' 'Bronx, NY 10472' 'Bronx, NY 10473' 'Bronx, NY 10474'
 'Bronx, NY 10475' 'Brooklyn Heights, NY 11201' 'Brooklyn, NY 10301'
 'Brooklyn, NY 10308' 'Brooklyn, NY 11201' 'Brooklyn, NY 11203'
 'Brooklyn, NY 11204' 'Brooklyn, NY 11205' 'Brooklyn, NY 11206'
 'Brooklyn, NY 11207' 'Brooklyn, NY 11208' 'Brooklyn, NY 11209'
 'Brooklyn, NY 11210' 'Brooklyn, NY 11211' 'Brooklyn, NY 11212'
 'Brooklyn, NY 11213' 'Brooklyn, NY 11214' 'Brooklyn, NY 11215'
 'Brooklyn, NY 11216' 'Brooklyn, NY 11217' 'Brooklyn, NY 11218'
 'Brooklyn, NY 11219' 'Brooklyn, NY 11220' 'Brooklyn, NY 11221'
 'Brooklyn, NY 11222' 'Brooklyn, NY 11223' 'Brooklyn, NY 11224'
 'Brooklyn, NY 11225' 'Brooklyn, NY 11226' 'Brooklyn, NY 11228'
 'Brooklyn, NY 11229' 'Brooklyn, NY 11230' 'Brooklyn, NY 11231'
 'Brooklyn, NY 11232' 'Brooklyn, NY 11233' 'Brooklyn, NY 11234'
 'Brooklyn, NY 11235' 'Brooklyn, NY 11236' 'Brooklyn, NY 11237'
 'Brooklyn, NY 11238' 'Brooklyn, NY 11249' 'Brooklyn, NY 11694'
 'Brownville, NY 11212' 'Cambria Heights, NY 11411' 'Canarsie, NY 11236'
 'College Point, NY 11356' 'Corona, NY 11368' 'Crown Heights, NY 11213'
 'Ditmas Park, NY 11226' 'Douglaston, NY 11362' 'Douglaston, NY 11363'
 'East Elmhurst, NY 11369' 'East Elmhurst, NY 11370'
 'East Flatbush, NY 11203' 'Elmhurst, NY 11373' 'Far Rockaway, NY 11691'
 'Far Rockaway, NY 11697' 'Floral Park, NY 11001' 'Floral Park, NY 11005'
 'Flushing, NY 11354' 'Flushing, NY 11355' 'Flushing, NY 11357'
 'Flushing, NY 11358' 'Flushing, NY 11365' 'Flushing, NY 11366'
 'Flushing, NY 11367' 'Flushing, NY 11378' 'Forest Hills, NY 11375'
 'Fresh Meadows, NY 11365' 'Fresh Meadows, NY 11366' 'Glen Oaks, NY 11004'
 'Glendale, NY 11385' 'Hollis, NY 11423' 'Hollis, NY 11432'
 'Howard Beach, NY 11208' 'Howard Beach, NY 11414'
 'Jackson Heights, NY 11370' 'Jackson Heights, NY 11372'
 'Jamaica, NY 11413' 'Jamaica, NY 11420' 'Jamaica, NY 11421'
 'Jamaica, NY 11422' 'Jamaica, NY 11429' 'Jamaica, NY 11432'
 'Jamaica, NY 11433' 'Jamaica, NY 11435' 'Jamaica, NY 11436'
 'Kensington, NY 11218' 'Kew Garden Hills, NY 11367'
 'Kew Gardens Hills, NY 11367' 'Kew Gardens, NY 11415'
 'Kew Gardens, NY 11418' 'Little Neck, NY 11362' 'Little Neck, NY 11363'
 'Long Island City, NY 11101' 'Long Island City, NY 11103'
 'Long Island City, NY 11105' 'Long Island City, NY 11106'
 'Long Island City, NY 11109' 'Malba, NY 11357' 'Manhattan, NY 10001'
 'Manhattan, NY 10002' 'Manhattan, NY 10003' 'Manhattan, NY 10004'
 'Manhattan, NY 10005' 'Manhattan, NY 10006' 'Manhattan, NY 10007'
 'Manhattan, NY 10009' 'Manhattan, NY 10010' 'Manhattan, NY 10011'
 'Manhattan, NY 10012' 'Manhattan, NY 10013' 'Manhattan, NY 10014'
 'Manhattan, NY 10016' 'Manhattan, NY 10017' 'Manhattan, NY 10018'
 'Manhattan, NY 10019' 'Manhattan, NY 10021' 'Manhattan, NY 10022'
 'Manhattan, NY 10023' 'Manhattan, NY 10024' 'Manhattan, NY 10025'
 'Manhattan, NY 10026' 'Manhattan, NY 10027' 'Manhattan, NY 10028'
 'Manhattan, NY 10029' 'Manhattan, NY 10030' 'Manhattan, NY 10031'
 'Manhattan, NY 10032' 'Manhattan, NY 10033' 'Manhattan, NY 10034'
 'Manhattan, NY 10035' 'Manhattan, NY 10036' 'Manhattan, NY 10037'
 'Manhattan, NY 10038' 'Manhattan, NY 10040' 'Manhattan, NY 10044'
 'Manhattan, NY 10065' 'Manhattan, NY 10069' 'Manhattan, NY 10075'
 'Manhattan, NY 10128' 'Manhattan, NY 10280' 'Maspeth, NY 11378'
 'Middle Village, NY 11379' 'New Hyde Park, NY 11040'
 'New York City, NY 10002' 'New York, NY 10001' 'New York, NY 10002'
 'New York, NY 10003' 'New York, NY 10004' 'New York, NY 10005'
 'New York, NY 10006' 'New York, NY 10007' 'New York, NY 10009'
 'New York, NY 10010' 'New York, NY 10011' 'New York, NY 10012'
 'New York, NY 10013' 'New York, NY 10014' 'New York, NY 10016'
 'New York, NY 10017' 'New York, NY 10018' 'New York, NY 10019'
 'New York, NY 10021' 'New York, NY 10022' 'New York, NY 10023'
 'New York, NY 10024' 'New York, NY 10025' 'New York, NY 10026'
 'New York, NY 10027' 'New York, NY 10028' 'New York, NY 10029'
 'New York, NY 10030' 'New York, NY 10031' 'New York, NY 10032'
 'New York, NY 10033' 'New York, NY 10034' 'New York, NY 10035'
 'New York, NY 10036' 'New York, NY 10037' 'New York, NY 10038'
 'New York, NY 10039' 'New York, NY 10040' 'New York, NY 10044'
 'New York, NY 10065' 'New York, NY 10069' 'New York, NY 10075'
 'New York, NY 10128' 'New York, NY 10280' 'New York, NY 10282'
 'New York, NY 10314' 'New York, NY 10463' 'New York, NY 11101'
 'New York, NY 11223' 'Ny, NY 10017' 'Ny, NY 11221' 'Nyc, NY 10029'
 'Nyc, NY 10465' 'Old Mill Basin, NY 11234' 'Ozone Park, NY 11416'
 'Ozone Park, NY 11417' 'Prospect Lefferts Gardens, NY 11225'
 'Queens Village, NY 11427' 'Queens Village, NY 11429' 'Queens, NY 11101'
 'Queens, NY 11102' 'Queens, NY 11103' 'Queens, NY 11104'
 'Queens, NY 11105' 'Queens, NY 11106' 'Queens, NY 11109'
 'Queens, NY 11354' 'Queens, NY 11355' 'Queens, NY 11356'
 'Queens, NY 11360' 'Queens, NY 11366' 'Queens, NY 11367'
 'Queens, NY 11368' 'Queens, NY 11370' 'Queens, NY 11372'
 'Queens, NY 11373' 'Queens, NY 11374' 'Queens, NY 11375'
 'Queens, NY 11377' 'Queens, NY 11385' 'Queens, NY 11412'
 'Queens, NY 11413' 'Queens, NY 11415' 'Queens, NY 11417'
 'Queens, NY 11426' 'Queens, NY 11427' 'Queens, NY 11429'
 'Queens, NY 11693' 'Queens, NY 11694' 'Queens, NY 11697'
 'Rego Park, NY 11374' 'Richmond Hill South, NY 11419'
 'Richmond Hill, NY 11418' 'Richmond Hill, NY 11419' 'Ridgewood, NY 11385'
 'Rockaway Park, NY 11694' 'Roosevelt Island, NY 10044'
 'Rosedale, NY 11422' 'Saint Albans, NY 11412'
 'South Ozone Park, NY 11420' 'South Ozone Park, NY 11436'
 'Springfield Gardens, NY 11413' 'Staten Island, NY 10301'
 'Staten Island, NY 10302' 'Staten Island, NY 10303'
 'Staten Island, NY 10304' 'Staten Island, NY 10305'
 'Staten Island, NY 10306' 'Staten Island, NY 10307'
 'Staten Island, NY 10308' 'Staten Island, NY 10309'
 'Staten Island, NY 10310' 'Staten Island, NY 10312'
 'Staten Island, NY 10314' 'Stuyvesant Heights, NY 11233'
 'Sunnyside, NY 11104' 'Whitestone, NY 11357' 'Woodhaven, NY 11421'
 'Woodside, NY 11377']
307

In [12]:
# Mapping
attribute_idx_mapping = {}

# Iteration 1: 
numeric_cols = ["index", "PRICE", "BEDS", "BATH", "PROPERTYSQFT", "LATITUDE", "LONGITUDE"]
attribute_list = [column for column in all_data.columns if column not in numeric_cols]
print(attribute_list)

for attribute in attribute_list:
    unique_attribute_values = all_data[attribute].unique()
    value_to_idx, idx_to_value = map_idx(unique_attribute_values)
    attribute_idx_mapping[attribute] = {"value_to_idx": value_to_idx, "idx_to_value": idx_to_value}
    all_data[attribute] = all_data[attribute].map(value_to_idx)

# Iteration 2:
# attribute_list = ["BROKERTITLE", "STATE", "ADMINISTRATIVE_AREA_LEVEL_2", "TYPE", "LOCALITY", "SUBLOCALITY", "STREET_NAME", "LONG_NAME"]

# Iteration 3:
# one_hot_attribute_list = ["TYPE", "LOCALITY", "SUBLOCALITY", "STREET_NAME"]
# attribute_list = ["BROKERTITLE", "STATE", "ADMINISTRATIVE_AREA_LEVEL_2"]

['BROKERTITLE', 'TYPE', 'ADDRESS', 'STATE', 'MAIN_ADDRESS', 'ADMINISTRATIVE_AREA_LEVEL_2', 'LOCALITY', 'SUBLOCALITY', 'STREET_NAME', 'LONG_NAME', 'FORMATTED_ADDRESS']

In [13]:
# ONE-HOT ENCODE
# https://stackabuse.com/one-hot-encoding-in-python-with-pandas-and-scikit-learn/
def one_hot(dataframe, col, pre):
  encoded = pd.get_dummies(dataframe[col], prefix=pre)
  for column in encoded:
    encoded = encoded.rename(columns={column: col + "_" + column})
  encoded['unique_data_identifier'] = dataframe['unique_data_identifier']
  return encoded

In [14]:
# # Encode Train data
# train_encoded = one_hot(train_data, "activity", 'is')
# final_train_x = pd.merge(train_data, train_encoded, on=["unique_data_identifier"])
# final_train_y = final_train_x["soc_delta"].to_numpy()
# final_train_x = final_train_x.drop(columns=["soc_delta", "id", "unique_data_identifier", "activity", "Unnamed: 0"])

# # Encode Test data
# test_encoded = one_hot(test_data, "activity", 'is')
# final_test_x = pd.merge(test_data, test_encoded, on=["unique_data_identifier"])
# final_test_y = final_test_x["soc_delta"].to_numpy()
# final_test_x = final_test_x.drop(columns=["soc_delta", "id", "unique_data_identifier", "activity", "Unnamed: 0"])

In [15]:
# Iteration 2:
# all_data.drop(columns=["index", "ADDRESS", "MAIN_ADDRESS", "FORMATTED_ADDRESS", "LATITUDE", "LONGITUDE"], inplace=True)


all_data.to_csv("input_data/model_ready_data.csv", index=False)
all_data.head()

,index,BROKERTITLE,TYPE,PRICE,BEDS,BATH,PROPERTYSQFT,ADDRESS,STATE,MAIN_ADDRESS,ADMINISTRATIVE_AREA_LEVEL_2,LOCALITY,SUBLOCALITY,STREET_NAME,LONG_NAME,FORMATTED_ADDRESS,LATITUDE,LONGITUDE
0,0,1,1,315000,2,2.000000,1400.0,1,1,1,1,1,1,1,1,1,40.761255,-73.974483
1,1,2,1,195000000,7,10.000000,17545.0,2,2,2,2,1,2,2,2,2,40.766393,-73.980991
2,2,3,2,260000,4,2.000000,2015.0,3,3,3,2,1,3,3,3,3,40.541805,-74.196109
3,3,4,1,69000,3,1.000000,445.0,4,4,4,2,1,2,2,4,4,40.761398,-73.974613
4,4,5,3,55000000,7,2.373861,14175.0,5,5,5,2,1,2,2,5,5,40.767224,-73.969856